:root {
  --primary: #fff;
}

.btn {
  padding: 0.8vh 0.7vh;
  border-radius: 2px;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn--primary {
  background-color: var(--primary);
  color: #242424;
  border: 1px solid var(--primary);
}

.btn--outline {
  background-color: #141414;
  color: #fff;
  border: 1px solid #616161;
  transition: all 0.3s ease-out;
}

